#!/usr/bin/env bash

alias v="vi"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias ls="ls -Fh --color=always"
alias ll="ls -l"
alias lla="ls -al"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

# Enable aliases to be sudo’ed
alias sudo='sudo '

batdiff() {
  git diff --name-only --diff-filter=d | xargs bat --diff
}

# in your .bashrc/.zshrc/*rc
alias bathelp='bat --plain --language=help'
help() {
  "$@" --help 2>&1 | bathelp
}

function gitReplace() {
  git grep -l '$1' | xargs sed -i "s/$1/$2/g"
  #git grep -l '$1' | xargs -0 -n 1 sed -i "s/$1/$2/g"
}

alias gl="git log"
alias gc="git checkout"
alias gcm="git checkout master"
alias gcb="git checkout -b"
alias gbd="git branch -d"
alias gbD="git branch -D"
alias gmm="git merge master"
alias grv="git remote -v"
alias gs="git status"
alias gfo="git fetch origin"
alias gfop="git fetch origin --prune"
alias gfu="git fetch upstream"
alias gpom="git pull origin master"
alias grom="git rebase origin/master"
alias gd="git diff"
alias bgd="batdiff"
alias gsh="git stash"
alias gshp="git stash pop"
alias grw="git restore -W ."
alias gca="git commit -a"
alias gcam="git commit -am"
alias gcar="git commit -a --reuse-message=HEAD"
alias gcs="git commit -a --signoff"
alias gcsr="git commit -a --signoff --reuse-message=HEAD"
alias gr="gitReplace"

# jenkins
alias jst="brew services start jenkins-lts"
alias jsto="brew services stop jenkins-lts"

# view docker logs
alias dlo="sudo journalctl -xu docker.service"
#docker restart
alias dre="sudo systemctl daemon-reload && sudo service docker restart"
alias dsp="docker system prune -a"

alias drmi="delete_docker_images"
alias drmid="delete_docker_images_dangling"
alias drmiwt="delete_docker_images_without_tag"

alias kgpa="kubectl get pods -A"
alias kgpaw="kubectl get pods -A -w"
alias kge="kubectl get events"
alias kgen="kubectl get events -n"
alias kgpn="kubectl get po -n"
alias kpd="kubectl get pods -A --no-headers | fzf | awk '{print $2, $1}' | xargs -n 2 sh -c 'kubectl describe pod $0 -n $1'"

alias kdc="kind delete cluster"
alias kdca="kind delete clusters --all"
alias kgc="kind get clusters"

alias fzfp="fzf --preview 'bat --color=always --style=numbers --line-range=:500 {}'"

alias wifitest="airport_loop"

alias k=kubectl
complete -o default -F __start_kubectl k

#docker logins
alias dl="cat ~/.dockerhub_access_token | docker login -u pshirodkar --password-stdin"
alias dlgh="cat ~/.github_access_token | docker login ghcr.io -u pshirodkar --password-stdin"

alias glint="golangci-lint run"

# https://github.com/Bash-it/bash-it/blob/master/aliases/available/tmux.aliases.bash
alias txl='tmux ls'
alias txn='tmux new -s'
alias txa='tmux a -t'
alias txk='tmux kill-session -t'

# Markdown viewers
alias md="markdown"
alias mdb="markdown_browser_preview"
alias glow="glow -s dark -p"

# Clear the screen
alias c="clear"

alias assh="autossh -M 0"

alias rgh="rg --hidden"

alias fman="compgen -c | fzf | xargs man"
