#!/usr/bin/env bash

# todo remove first entry
([ -x /usr/local/etc/bash_completion.d/git-prompt.sh ] && source /usr/local/etc/bash_completion.d/git-prompt.sh) && \
	([ -f /etc/bash_completion.d/git-prompt ] && source /etc/bash_completion.d/git-prompt) && \
	([ -f /usr/share/git-core/contrib/completion/git-prompt.sh ] && source /usr/share/git-core/contrib/completion/git-prompt.sh) && \
	([ -f /usr/share/doc/git/contrib/completion/git-prompt.sh ] && source /usr/share/doc/git/contrib/completion/git-prompt.sh)

# Set bash as our shell, idk why anyone would use something else ;)
shell="$(which bash)";
export SHELL="$shell";

# Set vim as the default editor for all apps that check this
export EDITOR='vim';

export TERM=xterm;

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTTIMEFORMAT='%F, %T ';
export HISTCONTROL=ignoredups:ignoreboth:erasedups;
# Make some commands not show up in history
export HISTIGNORE="history:ls:pwd:";

# Gets rid of "bash: update_terminal_cwd: command not found" error
#unset PROMPT_COMMAND

# After each command, append to the history file and reread it
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r"

green=$(tput setaf 2)
reset=$(tput sgr0)
PS1='\W\[$green\]$(__git_ps1 "(%s)")\[$reset\] \$ '

export CLICOLOR=1
# Colors for Dark Terminal Themes - linux
export LSCOLORS=ExGxFxdxCxDxDxHBhDhCgC
# Colors for Dark Terminal Themes - mac
#export LSCOLORS=GxFxCxDxBxegedabagaced
# Colors for Light Terminal Themes
#export LSCOLORS=ExFxBxDxCxegedabagacad

export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

export FZF_DEFAULT_OPTS="--preview 'bat --color=always {}'"
export FZF_DEFAULT_COMMAND="fd --type f"
