#!/usr/bin/env bash

command -v brew > /dev/null 2>&1
[ $? -eq 0 ] && [ -f "$(brew --prefix)"/etc/bash_completion.d/git-prompt.sh ] && source "$(brew --prefix)"/etc/bash_completion.d/git-prompt.sh
[ $? -ne 0 ] && [ -x /usr/local/etc/bash_completion.d/git-prompt.sh ] && source /usr/local/etc/bash_completion.d/git-prompt.sh
[ $? -ne 0 ] && [ -f /etc/bash_completion.d/git-prompt ] && source /etc/bash_completion.d/git-prompt
[ $? -ne 0 ] && [ -f /usr/share/git-core/contrib/completion/git-prompt.sh ] && source /usr/share/git-core/contrib/completion/git-prompt.sh
[ $? -ne 0 ] && [ -f /usr/share/doc/git/contrib/completion/git-prompt.sh ] && source /usr/share/doc/git/contrib/completion/git-prompt.sh

# Set bash as our shell, idk why anyone would use something else ;)
shell="$(which bash)";
export SHELL="$shell";

# Set vim as the default editor for all apps that check this
export EDITOR='vim';

export TERM="xterm-256color";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTTIMEFORMAT='%F, %T ';
export HISTCONTROL=ignoredups:ignoreboth:erasedups;
# Make some commands not show up in history
export HISTIGNORE="history:ls:pwd:";

# Gets rid of "bash: update_terminal_cwd: command not found" error
#unset PROMPT_COMMAND

# Applies to Mac: /etc/bashrc loads /etc/bashrc_$TERM_PROGRAM. TERM_PROGRAM env var outside of tmux is typically set to "Apple_Terminal" 
# and within tmux it is set to "tmux". The function "update_terminal_cwd" is defined in /etc/bashrc_Apple_Terminal.
# https://wisdomandwonder.com/emacs/10789/emacsbash-bash-update_terminal_cwd-command-not-found-resolution
if [ $(uname) == "Darwin" ]; then
  if [ -z “$(type -t update_terminal_cwd)” ] || [ “$(type -t update_terminal_cwd)” != “function” ]; then
    update_terminal_cwd() {
      true
    }
  fi
fi

# After each command, append to the history file and reread it
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r"

green=$(tput setaf 2)
reset=$(tput sgr0)
export PS1='\W\[$green\]$(__git_ps1 "(%s)")\[$reset\] \$ '

export CLICOLOR=1
# Colors for Dark Terminal Themes - linux
export LSCOLORS=ExGxFxdxCxDxDxHBhDhCgC
# Colors for Dark Terminal Themes - mac
#export LSCOLORS=GxFxCxDxBxegedabagaced
# Colors for Light Terminal Themes
#export LSCOLORS=ExFxBxDxCxegedabagacad

export RIPGREP_CONFIG_PATH="$HOME/.ripgreprc"

export FZF_DEFAULT_OPTS="--preview 'bat --color=always {}'"
export FZF_DEFAULT_COMMAND="fd --type f"

# Refer https://support.apple.com/en-us/102360 to silence zsh message on mac
export BASH_SILENCE_DEPRECATION_WARNING=1
