#!/usr/bin/env bash

function exists() {
  command -v "$1" &> /dev/null
}

function is_macos() {
  local platform
  platform=$(uname)
  [ "$platform" == "Darwin" ]
}

function is_linux() {
  local platform
  platform=$(uname)
  [ "$platform" == "Linux" ]
}

function is_cpu() {
  if [ -z "$1" ]; then
    echo "cpu manufacturer argument missing"
    return 1
  fi
  lscpu | grep "^Vendor ID:[ a-zA-Z]*$1" &> /dev/null
}

function is_cpu_intel() {
  is_cpu "Intel"
}

function alternate_aliases() {
  # On debian, fd-find package contains fdfind instead. So make alias back to fd
  if exists fdfind; then
    alias fd="fdfind"
  fi
  # On debian, bat package contains batcat instead. So make alias back to bat
  if exists batcat; then
    alias bat="batcat"
  fi
}
alternate_aliases

function docker_login() {
  if [ ! -r $HOME/.dockerhub_token.txt ]; then
    echo "docker token file not found"
    return 1
  fi
  cat $HOME/.dockerhub_token.txt | docker login --username pshirodkar --password-stdin
  if [ $? -ne 0 ]; then
    echo "docker login failed"
    return 1
  fi
}

function enable_docker_service() {
  sudo systemctl enable docker.service
  sudo systemctl enable containerd.service
  sudo systemctl status docker.service
  sudo systemctl status containerd.service
}

function disable_docker_service() {
  sudo systemctl disable docker.service
  sudo systemctl disable containerd.service
  sudo systemctl status docker.service
  sudo systemctl status containerd.service
}

function start_docker_service() {
  sudo systemctl start docker.service
  sudo systemctl start containerd.service
  sudo systemctl status docker.service
  sudo systemctl status containerd.service
}

function stop_docker_service() {
  sudo systemctl stop docker.service
  sudo systemctl stop containerd.service
  sudo systemctl status docker.service
  sudo systemctl status containerd.service
}

function docker_image_size() {
  docker inspect -f "{{ .Size }}" "$1" | numfmt --to=si
}

function delete_docker_images() {
 docker rmi $(docker images | grep "$1") -f
}

function delete_docker_images_dangling() {
 docker rmi $(docker images -f "dangling=true" -q)
}

function delete_docker_images_without_tag(){
 docker rmi $(docker images -a|grep "<none>"|awk '$1=="<none>" {print $3}')
}

# in your .bashrc/.zshrc/*rc
alias bathelp='bat --plain --language=help'
helpp() {
    "$@" --help 2>&1 | bathelp
}

function cloneAllGithubOrg() {
  if [[ -z "$GITHUB_ORG" ]]; then
    echo "error: GITHUB_ORG env var must be defined"
    return 1
  fi
  if [[ -z "$GITHUB_TOKEN" ]]; then
    echo "error: GITHUB_TOKEN env var must be defined"
    return 1
  fi
  # https://gist.github.com/caniszczyk/3856584?permalink_comment_id=3883313#gistcomment-3883313
  page=1
  while links=($(curl -H "Authorization: token ${GITHUB_TOKEN}" -s "https://api.github.com/orgs/${GITHUB_ORG}/repos?per_page=100&page=${page}" | jq -rc '.[] | {ssh_url} | .ssh_url'));  [[ "$links" ]]
  do
      GIT_TERMINAL_PROMPT=0 parallel git clone {} ::: "${links[@]}"
      ((++page))
  done
}

#mac internet troubleshooting
function airport_loop() {
 if ! is_macos; then
  echo "This is not macos"
  exit 1
 fi
 while sleep 1; do
  #airport -I | grep 'agrCtlRSSI'
  airport -I
  printf "\n"
 done
}
alias wifitest="airport_loop"

function toggle_mac_dock() {
 if ! is_macos; then
  echo "This is not macos"
  exit 1
 fi
 local curr=$(defaults read com.apple.Dock autohide)
 if [[ $curr -eq 0 ]]; then
   defaults write com.apple.dock autohide -bool true; killall Dock
 else
   defaults write com.apple.dock autohide -bool false; killall Dock
 fi
}

function markdown() {
  pandoc "$1" | lynx -stdin
}

function markdown_browser_preview() {
  pandoc "$1" > ~/tmp/"$1".html
  if is_linux; then
    xdg-open ~/tmp/"$1".html
  elif is_macos; then
    open ~/tmp/"$1".html
  fi
}

# find markdown files recursively and preview
function find_md() {
  fd '.md$' | xargs -I _ -- bat --paging=always _
}

# https://pagure.io/setup/blob/master/f/profile
pathmunge () {
    case ":${PATH}:" in
        *:"$1":*)
            ;;
        *)
            if [ "$2" = "after" ] ; then
                PATH=$PATH:$1
            else
                PATH=$1:$PATH
            fi
    esac
}

function git_branch_delete() {
  if [ -n $1 ]; then
    git branch -D $1 && git push origin --delete $1
  elif [ -n $1 && -n $2 ]; then
    git branch -D $1 && git push $2 --delete $1
  else
    echo "branch name argument missing"
  fi
}

# repository register recursive using mr - a Multiple Repository management tool
function repository_register_recursive() {
  find . -mindepth 1 -maxdepth 1 -type d -print -exec bash -c 'cd "$0"; mr register; cd ..' {} \;
}

# repository fetch recursive using mr - a Multiple Repository management tool
function repository_fetch_recursive() {
  mr -j5 fetch --force --tags
}

# repository update recursive using mr - a Multiple Repository management tool
function repository_update_recursive() {
  #find . -mindepth 1 -maxdepth 1 -type d -print -exec bash -c 'cd "$0"; mr -j5 update; cd ..' {} \;
  mr -j5 update
}

# go mod download using mr - a Multiple Repository management tool
function go_mod_download_recursive() {
  find . -mindepth 1 -maxdepth 1 -type d -print -exec bash -c 'cd "$0"; go mod download; cd ..' {} \;
}

function mcd() {
  mkdir -p "$1" && cd "$1"
}

function install_via_apt() {
  exists apt && sudo apt update && sudo apt full-upgrade -y && sudo apt install -y apt-file curl wget vim-gtk3 xsel \
  stow tldr fzf shellcheck chromium chrome-gnome-shell golang tig jq yq ripgrep fd-find htop tree wireguard  xclip \
  openvpn nmap file awscli pandoc lynx info autojump neofetch git gitk tmux gnome-tweaks gparted keepassxc ncdu bat fd-find fonts-indic \
  hardinfo ansible vagrant ncdu dmidecode whois ldnsutils bat firmware-linux firmware-linux-nonfree firmware-misc-nonfree firmware-realtek ufw hdparm yt-dlp \
  debian-refcard doc-base
  install_intel_packages
  install_laptop_packages
  install_glow
  install_rupa_z
  install_kubectl
  install_kind
  install_sublimetext
  install_google_chrome
  install_upgrade_unifi
}

function install_laptop_packages() {
  laptop-detect --verbose &> /dev/null
  if [ $? -eq 0 ]; then
    exists apt && sudo apt install tlp tlp-rdw tp-smapi-dkms smartmontools
  else
    print "error: not a laptop"
    return 1
  fi
}
function install_intel_packages() {
  is_cpu_intel && exists apt && sudo apt install -y firmware-intel-graphics firmware-intel-misc firmware-mediatek intel-microcode \
	  firmware-iwlwifi firmware-ipw2x00 firmware-intel-graphics firmware-intel-sound
}

function install_glow() {
  # https://github.com/charmbracelet/glow
  if exists apt; then
    sudo mkdir -p -m 755 /etc/apt/keyrings
    if [ ! -f "/etc/apt/keyrings/charm.gpg" ]; then
      curl -fsSL https://repo.charm.sh/apt/gpg.key | sudo gpg --dearmor -o /etc/apt/keyrings/charm.gpg
      echo "deb [signed-by=/etc/apt/keyrings/charm.gpg] https://repo.charm.sh/apt/ * *" | sudo tee /etc/apt/sources.list.d/charm.list
    fi
    sudo apt update && sudo apt install -y glow
  fi
}

function install_kubectl() {
  # https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management
  if exists apt; then
    sudo apt-get update
    # apt-transport-https may be a dummy package; if so, you can skip that package
    sudo apt-get install -y apt-transport-https ca-certificates curl
    sudo mkdir -p -m 755 /etc/apt/keyrings
    if [ ! -f "/etc/apt/keyrings/kubernetes-apt-keyring.gpg" ]; then
      local version="v1.32"
      curl -fsSL https://pkgs.k8s.io/core:/stable:/$version/deb/Release.key | sudo gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
      echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/$version/deb/ /' | sudo tee /etc/apt/sources.list.d/kubernetes.list
      sudo chmod 644 /etc/apt/sources.list.d/kubernetes.list   # helps tools such as command-not-found to work correctly
    fi
    sudo apt update && sudo apt install -y kubectl
  fi
}

function install_rupa_z() {
  if is_linux; then
    git clone https://github.com/rupa/z/ ~/tmp/z
    chmod +x ~/tmp/z/z.sh
    sudo mv ~/tmp/z/z.sh /usr/local/bin/
    sudo mkdir -p /usr/local/share/man/man1
    sudo mv ~/tmp/z/z.1 /usr/local/share/man/man1/
    rm -rf ~/tmp/z
  fi
}

function install_kind() {
  # https://kind.sigs.k8s.io/docs/user/quick-start#installing-from-release-binaries
  if is_linux; then
    # For AMD64 / x86_64
    [ $(uname -m) = x86_64 ] && curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.24.0/kind-linux-amd64
    # For ARM64
    [ $(uname -m) = aarch64 ] && curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.24.0/kind-linux-arm64
    chmod +x ./kind
    sudo mv ./kind /usr/local/bin/kind
  fi
}

function install_sublimetext() {
  # https://www.sublimetext.com/docs/linux_repositories.html
  if exists apt; then
    wget -qO - https://download.sublimetext.com/sublimehq-pub.gpg | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/sublimehq-archive.gpg > /dev/null
    echo "deb https://download.sublimetext.com/ apt/stable/" | sudo tee /etc/apt/sources.list.d/sublime-text.list
    sudo apt-get update
    sudo apt-get install sublime-text
  fi
}

function install_google_chrome() {
  if exists apt; then
    curl -fSsL https://dl.google.com/linux/linux_signing_key.pub | sudo gpg --dearmor | sudo tee /usr/share/keyrings/google-chrome.gpg >> /dev/null
    echo deb [arch=amd64 signed-by=/usr/share/keyrings/google-chrome.gpg] http://dl.google.com/linux/chrome/deb/ stable main | sudo tee /etc/apt/sources.list.d/google-chrome.list
    sudo apt-get update
    sudo apt install google-chrome-stable
  fi
}

function install_upgrade_unifi() {
  # https://help.ui.com/hc/en-us/articles/220066768-Updating-and-Installing-Self-Hosted-UniFi-Network-Servers-Linux
  # https://community.ui.com/questions/ccbc7530-dd61-40a7-82ec-22b17f027776
  if exists apt; then
    rm unifi-latest.sh &> /dev/null; wget https://get.glennr.nl/unifi/install/install_latest/unifi-latest.sh && sudo bash unifi-latest.sh
  fi
}

function update() {
  if is_linux; then
    if exists apt; then
      print_execute sudo apt-get update;
      print_execute sudo apt-get upgrade;
      print_execute sudo apt-get autoremove --purge;
      print_execute sudo apt-get clean;
    elif exists dnf; then
      print_execute sudo dnf upgrade;
      print_execute sudo dnf autoremove;
      print_execute sudo dnf clean all;
    fi
  elif is_macos; then
    if exists brew; then
      print_execute brew update;
      print_execute brew upgrade;
      print_execute brew upgrade --cask --force --greedy;
      print_execute brew cleanup --prune=all;
    fi
  fi
}

# Top k largest files in current directory recursive
function duh() {
  local num="${1:-10}"
  du -ah . | sort -hr | head -n $num
}

function extract_rpm() {
  rpm2cpio "$1" | cpio -idmv
}

function field() {
  awk '{print $'"$1"'}'
}

function print_execute() {
  printf "+ %s\n" "$*" >&2
  "$@"
}

function ufw_execute() {
  sudo ufw status &> /dev/null
  if [ $? -ne 0 ]; then
    print "error: ufw not installed"
    return 1
  fi
  sudo ufw allow ssh
  sudo ufw default deny incoming
  sudo ufw default allow outgoing

  # unifi network starts here
  sudo ufw allow proto tcp from any to any port 8080
  sudo ufw allow proto udp from any to any port 10001
  sudo ufw allow proto udp from any to any port 3478
  sudo ufw allow proto tcp from any to any port 8843
  # unifi network ends here

  sudo ufw enable
}

function extract_audio() {
  if [ -z "$1" ]; then
    print "argument missing"
    return 1
  fi
  yt-dlp --extract-audio --audio-format mp3 --audio-quality 0 "$1"
}
