#!/usr/bin/env bash

function exists() {
  command -v "$1" &> /dev/null
}

function is_macos() {
  local platform
  platform=$(uname)
  [ "$platform" == "Darwin" ]
}

function is_linux() {
  local platform
  platform=$(uname)
  [ "$platform" == "Linux" ]
}

function docker_image_size() {
  docker inspect -f "{{ .Size }}" "$1" | numfmt --to=si
}

function delete_docker_images() {
 docker rmi $(docker images | grep "$1") -f
}

function delete_docker_images_dangling() {
 docker rmi $(docker images -f "dangling=true" -q)
}

function delete_docker_images_without_tag(){
 docker rmi $(docker images -a|grep "<none>"|awk '$1=="<none>" {print $3}')
}

# in your .bashrc/.zshrc/*rc
alias bathelp='bat --plain --language=help'
help() {
    "$@" --help 2>&1 | bathelp
}

function cloneAllGithubOrg() {
  # https://gist.github.com/caniszczyk/3856584?permalink_comment_id=3883313#gistcomment-3883313
  page=1
  while links=($(curl -H "Authorization: token ${GITHUB_TOKEN}" -s "https://api.github.com/orgs/${GITHUB_ORG}/repos?per_page=100&page=${page}" | jq -rc '.[] | {ssh_url} | .ssh_url'));  [[ "$links" ]]
  do
      GIT_TERMINAL_PROMPT=0 parallel git clone {} ::: "${links[@]}"
      ((++page))
  done
}

#mac internet troubleshooting
function airport_loop() {
 if [[ ! is_macos ]]; then
  echo "This is not macos"
  exit 1
 fi
 while sleep 1; do
  #airport -I | grep 'agrCtlRSSI'
  airport -I
  printf "\n"
 done
}
alias wifitest="airport_loop"

function toggle_mac_dock() {
 if [[ ! is_macos ]]; then
  echo "This is not macos"
  exit 1
 fi
 local curr=$(defaults read com.apple.Dock autohide)
 if [[ $curr -eq 0 ]]; then
   defaults write com.apple.dock autohide -bool true; killall Dock
 else
   defaults write com.apple.dock autohide -bool false; killall Dock
 fi
}

function markdown() {
  pandoc "$1" | lynx -stdin
}

function markcat() {
  markcat "$1" | less -r
}

# https://pagure.io/setup/blob/master/f/profile
pathmunge () {
    case ":${PATH}:" in
        *:"$1":*)
            ;;
        *)
            if [ "$2" = "after" ] ; then
                PATH=$PATH:$1
            else
                PATH=$1:$PATH
            fi
    esac
}

function git_branch_delete() {
  if [ -n $1 ]; then
    git branch -D $1 && git push origin --delete $1
  elif [ -n $1 && -n $2 ]; then
    git branch -D $1 && git push $2 --delete $1
  else
    echo "branch name argument missing"
  fi
}

# repository register recursive using mr - a Multiple Repository management tool
function repository_register_recursive() {
  find . -mindepth 1 -maxdepth 1 -type d -print -exec bash -c 'cd "$0"; mr register; cd ..' {} \;
}

# repository fetch recursive using mr - a Multiple Repository management tool
function repository_fetch_recursive() {
  mr -j5 fetch --force --tags
}

# repository update recursive using mr - a Multiple Repository management tool
function repository_update_recursive() {
  #find . -mindepth 1 -maxdepth 1 -type d -print -exec bash -c 'cd "$0"; mr -j5 update; cd ..' {} \;
  mr -j5 update
}

# go mod download using mr - a Multiple Repository management tool
function go_mod_download_recursive() {
  find . -mindepth 1 -maxdepth 1 -type d -print -exec bash -c 'cd "$0"; go mod download; cd ..' {} \;
}
